{% extends "admin/base_site.html" %}

{% block stylesheets %}
    {{ block.super }}
    <style id="plotly.js-style-global"></style>
    <style id="plotly.js-style-modebar-14ca5b"></style>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript">window.PlotlyConfig = {MathJaxConfig: 'local'};</script>
    <script charset="utf-8" src="https://cdn.plot.ly/plotly-2.34.0.min.js"></script>
{% endblock %}

{% block content %}
    {{ chart | safe }}
{% endblock %}z
