{% extends 'admin/change_form.html' %}
{% load admin_urls %}

{% block after_related_objects %}
    {{ block.super }}
    {% if original.pk %}
        <li id="show-info-button" class="grp-float-left">
            <a href="{% url 'admin:arbitration-deals-information' original.pk %}" target="_blank" class="grp-button grp-default">Information 📋</a>
        </li>
        
        <li id="show-chart-button" class="grp-float-left">
            <a href="{% url 'admin:arbitration-show-chart' original.pk %}" target="_blank" class="grp-button grp-default">Show chart 📈</a>
        </li>
        
        <li id="test-run-button" class="grp-float-left">
            <a href="{% url 'admin:arbitration-test-run' original.pk %}" class="grp-button grp-default">Test run ⏩</a>
        </li>
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script>
        (function($) {
            $(document).ready(function() {
                let ul = $("footer.grp-submit-row ul")
                ul.prepend($("#show-info-button"));
                ul.prepend($("#show-chart-button"));
                ul.prepend($("#test-run-button"));
            });
        })(grp.jQuery);
    </script>
{% endblock %}
