<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Depth Of Market</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div style="width: 200px; float: left; display: block">
        <h4 style="margin-bottom: 0">Bid</h4>
        <div id="data-container-bid"></div>
    </div>

    <div style="width: 200px; float: left; display: block">
        <h4 style="margin-bottom: 0">Ask</h4>
        <div id="data-container-ask"></div>
    </div>

    <script>
        function updateData() {
            $.get('/streams/get_redis_data/', function(data) {
                $('#data-container-bid').html(data.bid);
                $('#data-container-ask').html(data.ask);
            });
        }

        $(document).ready(function() {
            setInterval(updateData, 500); // Обновляйте данные каждую секунду
        });
    </script>
</body>
</html>